
@{
    ViewData["Title"] = "About";
}

    <section id="About">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 style="text-transform: uppercase;">About Us</h1>
                <h6>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quidem dolores repudiandae?
                    Officia similique ad suscipit saepe quam quisquam veniam?
                </h6>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Corporis quaerat ipsa expedita ab non, saepe modi optio dignissimos distinctio eligendi,
                    numquam sequi beatae nobis nemo. Praesentium debitis esse laboriosam, itaque vel ab voluptatum
                    consequatur perferendis? Qui doloribus fugit aspernatur nemo quia, laudantium ipsum ratione,
                    maiores dicta impedit, explicabo unde sit molestiae doloremque quam atque? Praesentium voluptates
                    quisquam eum culpa molestias libero aperiam vel vitae tempora, non, laborum earum explicabo porro
                    aspernatur, necessitatibus impedit. Recusandae, animi voluptatibus commodi suscipit voluptates quibusdam
                    eos sapiente iure dolorem iste saepe pariatur magni distinctio consequatur? Ex mollitia unde fugiat
                    temporibus velit magni aut suscipit minima!
                </p>

                <div class="GoogleMap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8156.0815517419205!2d15.1701175!3d59.2658084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x35322003293cc49e!2sEC%20Utbildning%20%C3%96rebro!5e0!3m2!1ssv!2sse!4v1581764518315!5m2!1ssv!2sse" width="600" height="450" frameborder="0" style="border:1px solid grey;" allowfullscreen=""></iframe>
                    <div class="contact-info">
                        <p style="font-weight: 600">Contact Us:</p>

                        <i class="fas fa-envelope">
                            <a href="https://outlook.live.com/owa/" class="link-style">sofaland@info.se</a>
                        </i>
                        <i class="fas fa-phone-alt">
                            <a href="#" class="link-style">+4607-345-200</a>
                        </i>
                        <i class="fas fa-map-marker-alt">
                            <a href="#" class="link-style">Skomaskinsgatan 2</a>
                        </i>
                    </div>
                </div>

                <div class="final-word">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, quas! Ex doloribus consequuntur
                        impedit officia, modi iure sapiente aut quis! Exercitationem, ipsum? Velit, a rem quia doloremque
                        exercitationem hic non.
                    </p>
                </div>

                <div class="icons">
                    <a class="link-style" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a class="link-style" href="https://twitter.com/?lang=sv"><i class="fab fa-twitter-square"></i></a>
                    <a class="link-style" href="https://www.instagram.com/?hl=sv"><i class="fab fa-instagram"></i></a>
                </div>

            </div>
        </div>
    </section>
