@model MyWebshop.Models.Product



<div class="Proto-holder" align="center">
    <div class="card-guest" style="width: 28rem; background-color: white;">
        <div class="card-body">
            <img src="~/images/@Model.Photo" width="400" height="300"/>
            <h5 class="card-title">@Model.ProductName</h5>
            <div class="sofa-description">
                <h6>@Model.Description</h6>
            </div>
            <hr />
            <p>Login to learn more about this product</p>
        </div>
    </div>
</div>